---
import "@fontsource-variable/nunito";

import BaseLayout from "../../../layouts/BaseLayout.astro";
import Logo from "./_logo-3.png";
---

<BaseLayout title="Super Streamer Lobby 3">
  <div class="grid justify-center">
    <main class="max-w-5xl flex flex-col px-2">
      <header>
        <img
          src={Logo.src}
          alt="Super Streamer Lobby 3"
          style="filter: drop-shadow(-14px 14px 0px hsla(0, 0%, 0%, 25%));"
        />
      </header>
      <div
        class="grid gap-2 text-3xl font-semibold text-center grid-cols-2 max-lg:grid-cols-1"
      >
        <article>
          <h2 class="font-extrabold">About</h2>
          <p>
            The Super Streamer Lobby is a recurring TETR.IO community event that
            features over 200 streamers and their viewers battling it out in one
            giant game for a chance to win twitch subscriptions, YT memberships,
            rewards, and our streamer packages. With the help of the TETR.IO
            admins, we take the Super Lobby format to the extreme by breaking
            the game with some of the weirdest presets and bizarre settings.
            Anyone and everyone is welcome to play!
          </p>
        </article>
        <article>
          <h2 class="font-extrabold">Wait, what's a "Super Lobby"?</h2>
          <p>
            A super lobby is a TETR.IO lobby with over 100 players, with no
            upper limit to the player count. Everyone is versing each other,
            until just 1 player remains. We usually pull 300 - 400 players each
            event. It's kind of like Tetris 99, but on steroids. It might just
            be the largest battle royale format ever.
          </p>
        </article>
      </div>
    </main>
  </div>
</BaseLayout>

<style>
  body {
    font-family: "Nunito Variable", sans-serif;
    /* background: hsl(339, 70%, 80%);
    background: linear-gradient(
      155deg,
      hsl(339, 70%, 80%) 20%,
      hsl(37, 70%, 80%) 50%,
      hsl(262, 70%, 80%) 80%
    ); */
    background: hsl(262, 100%, 73%);
    background: linear-gradient(
      155deg,
      hsl(339, 100%, 75%) 0%,
      hsl(38, 100%, 75%) 50%,
      hsl(262, 100%, 73%) 100%
    );
  }
</style>
