---
import EventSchedule from "./EventSchedule.svelte";
import Participating from "./Participating.svelte";

interface Props {
  dates: Record<string, Date>;
}

const { dates } = Astro.props;
---

<section class="contents not-prose">
  <div class="grid grid-cols-2 max-lg:grid-cols-1 gap-4 max-lg:gap-10">
    <!-- Event -->
    <div class="w-full max-w-xl">
      <h2 class="font-extrabold text-3xl ssl-hyper-text mb-2">
        Event
      </h2>
      <EventSchedule {dates} client:idle />
    </div>
    <!-- Streamers Involed -->
    <div class="w-full max-w-xl">
      <h2 class="font-extrabold text-3xl ssl-hyper-text mb-2">
        Streamers Involved
      </h2>
      <div class="bg-white shadow rounded p-5">
        <Participating client:idle />
      </div>
      <div class="my-4"></div>
      <h2 class="font-extrabold text-3xl ssl-hyper-text mb-2">Custom assets</h2>
      <div class="bg-white shadow rounded p-5">
        The event also features original Background Music and Graphics created
        by several talented community members! And of course, shoutouts to many
        wonderful streamers in the TETR.IO chat!
      </div>
    </div>
  </div>
</section>
