---
import { t } from "i18next";
import Modes from "./modes.png";
---

<section class="not-prose contents">
  <!-- Games -->
  <div id="about" class="flex w-full max-w-4xl gap-2 max-md:flex-wrap">
    <div class="flex flex-col">
      <p class="ssl-hyper-text text-5xl font-extrabold">{t("hypeinfo.total-games", "16 Games")}</p>
      <ul class="font-bold">
        <li class="text-xl">{t("hypeinfo.total-standard", "8 Standard Games")}</li>
        <li class="text-xl">{t("hypeinfo.total-custom", "8 Custom Modes")}</li>
      </ul>
    </div>
  </div>
  <!-- Modes scroll image -->
  <div
    class="ssl-dynamic-scale relative my-7 w-full py-20"
    style={{
      "--width": `${Modes.width}px`,
      "--height": `${Modes.height}px`,
      height: "calc(var(--height)/var(--scale))",
    }}
  >
    <div
      class="ssl-scrolling-banner absolute -left-10 top-0 h-full w-[calc(120vw)] -rotate-6"
      style={{
        backgroundImage: `url('${Modes.src}')`,
        backgroundSize: "calc(var(--width)/var(--scale)) calc(var(--height)/var(--scale))",
        backgroundRepeat: "repeat-x",
        backgroundPositionY: "center",
        filter: "drop-shadow(-7px 7px 4px hsla(0, 0%, 0%, 25%))",
      }}
    >
    </div>
  </div>
  <!-- Player stats -->
  <div class="flex w-full max-w-4xl flex-col items-end text-right">
    <ul class="font-bold">
      <li class="text-xl">{t("hypeinfo.total-lead", "Streamers and Viewers totalling")}</li>
    </ul>
    <p class="ssl-hyper-text text-5xl font-extrabold">{t("hypeinfo.total-players", "400+ Players")}</p>
  </div>
</section>
