---
import Modes from "./modes.png";
---

<section class="contents not-prose">
  <!-- Games -->
  <div id="about" class="max-w-4xl w-full flex gap-2 max-md:flex-wrap">
    <div class="flex flex-col">
      <p class="font-extrabold text-5xl ssl-hyper-text">16 Games</p>
      <ul class="font-bold">
        <li class="text-xl">8 Standard Games</li>
        <li class="text-xl">8 Custom Modes</li>
      </ul>
    </div>
  </div>
  <!-- Modes scroll image -->
  <div
    class="ssl-dynamic-scale relative w-full py-20 my-7"
    style={{
      "--width": `${Modes.width}px`,
      "--height": `${Modes.height}px`,
      height: "calc(var(--height)/var(--scale))",
    }}
  >
    <div
      class="ssl-scrolling-banner absolute h-full w-[calc(120vw)] top-0 -left-10 -rotate-6"
      style={{
        backgroundImage: `url('${Modes.src}')`,
        backgroundSize:
          "calc(var(--width)/var(--scale)) calc(var(--height)/var(--scale))",
        backgroundRepeat: "repeat-x",
        backgroundPositionY: "center",
        filter: "drop-shadow(-7px 7px 4px hsla(0, 0%, 0%, 25%))",
      }}
    >
    </div>
  </div>
  <!-- Player stats -->
  <div class="max-w-4xl w-full flex items-end flex-col text-right">
    <ul class="font-bold">
      <li class="text-xl">Streamers and Viewers totalling</li>
    </ul>
    <p class="font-extrabold text-5xl ssl-hyper-text">400+ Players</p>
  </div>
</section>
