---
import { t } from "i18next";
import { Image } from "astro:assets";
import { ArrowDown } from "lucide-svelte";
import CountDown from "$components/CountDown.svelte";
import LocalTime from "$components/LocalTime.svelte";
import Logo from "./logo3.png";

interface Props {
  date: Date;
}

const { date } = Astro.props;
---

<header class="not-prose relative grid h-screen w-full max-w-4xl place-content-center">
  <div class="flex flex-col items-center">
    <Image
      src={Logo}
      alt="Super Streamer Lobby 3"
      style="filter: drop-shadow(-14px 14px 0px hsla(0, 0%, 0%, 25%));"
    />
    <div>
      <p class="px-7 text-center text-2xl max-md:text-lg">
        {
          t(
            "splash.subtitle",
            "The community event featuring over 200 streamers and their viewers battling it out in one TETR.IO match.",
          )
        }
      </p>
    </div>
    <div
      class="mt-5 flex w-fit flex-col items-center whitespace-nowrap rounded bg-white px-4 py-2 shadow-xl"
    >
      <p class="ssl-hyper-text shadow-dark text-2xl font-bold drop-shadow max-sm:text-base">
        <CountDown date={date} client:only />
      </p>
      <p class="text-zinc-600 max-sm:text-xs">
        <LocalTime
          date={date}
          options={{
            weekday: "long",
            month: "long",
            day: "numeric",
            hour: "numeric",
            minute: "2-digit",
            timeZoneName: "shortGeneric",
          }}
          client:only
        />
      </p>
    </div>
  </div>
  <a
    class="absolute bottom-8 left-1/2 -translate-x-1/2 rounded-full bg-white p-1 shadow"
    href="#about"
  >
    <ArrowDown size="2rem" client:only />
  </a>
</header>
