---
import Logo from "../components/Logo.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="grid place-content-center h-screen">
    <div>
      <Logo />
      <h1 class="text-4xl font-bold">Sparklapse</h1>
    </div>
  </main>
</BaseLayout>
