---
import "@fontsource-variable/gabarito";
import "../styles/global.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title ?? "Sparklapse"}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <slot name="head" />
  </head>
  <body>
    <div
      class="body scroll-smooth h-screen overflow-y-auto overflow-x-hidden"
    >
      <slot />
    </div>
  </body>
</html>
