---
import i18next from "i18next";
import "@fontsource-variable/gabarito";
import "../styles/global.css";

interface Props {
  title?: string;
  lang?: string;
}

const { title, lang = "en" } = Astro.props;
i18next.changeLanguage(lang);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <title>{title ?? "Sparklapse"}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <slot name="head" />
  </head>
  <body>
    <div class="body h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
      <slot />
    </div>
  </body>
</html>
