---
import "@fontsource-variable/nunito";
import BaseLayout from "$layouts/BaseLayout.astro";

const date = new Date("2024-04-06T23:00:00Z");
---

<BaseLayout>
  <h1>Hello, Astro!</h1>
  <p class="whitespace-pre">
    {
      date.toLocaleDateString("en-US", {
        weekday: "long",
        month: "long",
        day: "numeric",
        hour: "numeric",
        minute: "2-digit",
        timeZoneName: "shortGeneric",
      })
    }
  </p>
</BaseLayout>
