---
import "@fontsource-variable/nunito";

import BaseLayout from "$layouts/BaseLayout.astro";
import { Accordion } from "$components/svelte";

// const timeZone = Astro.locals.timezone ?? "EST";
const timeZone = "Australia/Sydney";

const dates = {
  warmup: new Date("2024-04-06T22:30:00Z"),
  main: new Date("2024-04-06T23:00:00Z"),
  afterparty: new Date("2024-04-07T01:00:00Z"),
};

const events = [
  {
    id: "warm-up",
    title: "🔥 Warm Up Games",
    aside: dates.warmup.toLocaleTimeString("en-US", {
      hour: "numeric",
      minute: "2-digit",
      timeZoneName: "shortGeneric",
      timeZone,
    }),
    description: "Join early for rank capped warm up games!",
  },
  {
    id: "main-event",
    title: "🏆 Main Event",
    aside: dates.main.toLocaleTimeString("en-US", {
      hour: "numeric",
      minute: "2-digit",
      timeZoneName: "shortGeneric",
      timeZone,
    }),
    description:
      "The main event consists of 8 standard games and 8 gimmick games, with each game lasting 3-8 minutes. Gimmick games are a staple of Super Streamer Lobbies, in which we run several custom game modes to maximize laughs and clippable moments.",
  },
  {
    id: "afterparty",
    title: "🎉 Afterparty Showcase",
    aside: dates.afterparty.toLocaleTimeString("en-US", {
      hour: "numeric",
      minute: "2-digit",
      timeZoneName: "shortGeneric",
      timeZone,
    }),
    description:
      "Come watch the Twitch showcase of the best clips and highlights from all 200 streamers in the event, along with some interviews and giveaways!",
  },
];
---

<BaseLayout title="Super Streamer Lobby 3">
  <div
    class="font-semibold scroll-smooth h-screen overflow-y-auto overflow-x-hidden"
  >
    <div class="flex flex-col ssl-bg w-screen px-2 items-center">
      <!-- Secondary events -->
      <section class="contents">
        <div class="mx-2 w-full max-w-xl">
          <h2 class="font-extrabold text-3xl ssl-hyper-text mb-2">Events</h2>
          <Accordion
            client:idle
            defaultValue="main-event"
            items={events}
            styles={{
              container: "w-full",
              item: "text-xl font-extrabold",
              aside: "text-neutral-300",
            }}
          />
        </div>
      </section>
      <!-- Spacer -->
      <div class="h-96"></div>
      <div class="py-2">
        <sub>{timeZone}</sub>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  body {
    font-family: "Nunito Variable", sans-serif;
  }

  .ssl-bg {
    /* background: hsl(339, 70%, 80%);
    background: linear-gradient(
      155deg,
      hsl(339, 70%, 80%) 20%,
      hsl(37, 70%, 80%) 50%,
      hsl(262, 70%, 80%) 80%
    ); */
    background: hsl(262, 100%, 73%);
    background: linear-gradient(
      155deg,
      hsl(339, 100%, 75%) 0%,
      hsl(38, 100%, 75%) 50%,
      hsl(262, 100%, 73%) 100%
    );
  }

  .ssl-hyper-text {
    color: transparent;
    background: linear-gradient(
      90deg,
      hsl(339, 100%, 60%) 0%,
      hsl(38, 100%, 50%) 50%,
      hsl(262, 100%, 60%) 100%
    );
    background-repeat: repeat-x;
    background-clip: text;
    filter: drop-shadow(1.5px 1.5px white) drop-shadow(-1.5px -1.5px white)
      drop-shadow(1.5px -1.5px white) drop-shadow(-1.5px 1.5px white);
  }

  .ssl-hyper-text.shadow-dark {
    filter: drop-shadow(0px 0px 4px hsla(0, 0, 0, 10%));
  }

  .ssl-dynamic-scale {
    --scale: 3;
  }

  @media not all and (min-width: 920px) {
    .ssl-dynamic-scale {
      --scale: 4;
    }
  }

  @keyframes background-scroll {
    0% {
      background-position-x: 0px;
    }
    100% {
      background-position-x: var(--width);
    }
  }

  .ssl-scrolling-banner {
    animation: background-scroll 42s linear infinite;
  }

  @media not all and (min-width: 768px) {
    .ssl-scrolling-banner {
      animation: background-scroll 56s linear infinite;
    }
  }
</style>
